/*css reset不用全部标签,对可能用到的使用就行*/
html,body,dd,div,dl,dt,em,h1,h2,h3,h4,h5,h6,input,label,ul,li,ol,p,select,span,textarea{
    margin:0;
    padding:0;
    /*-webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;*/
    outline:0;
}
img{
    border:0;
}
a{
    text-decoration:none;
}
li{
    list-style: none;
}
html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
}
@charset "UTF-8";
/*
vue动画公共样式都取出来放这里了
by https://github.com/derickweng
*/
.transstyle, .downslide-enter, .downslide-leave-active, .fade-enter, .fade-leave-active, .topslide-enter, .topslide-leave-active, .rightslide-enter, .rightslide-leave-active, .leftslide-enter, .leftslide-leave-active, .scale-enter, .scale-leave-active {
  /*为了在使用transition切换时router时，组件之间样式保持位置不相互影响,不过要注意样式width和height继承问题 */
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.downslide-enter-active, .downslide-leave-active {
  transition: transform 0.5s;
}
.downslide-enter, .downslide-leave-active {
  transform: translateY(100%);
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.8s;
}
.fade-enter, .fade-leave-active {
  opacity: 0;
}
.topslide-enter-active, .topslide-leave-active {
  transition: transform .5s;
}
.topslide-enter, .topslide-leave-active {
  transform: translateY(-100%);
}
.rightslide-enter-active, .rightslide-leave-active {
  transition: transform .5s;
}
.rightslide-enter, .rightslide-leave-active {
  transform: translateX(100%);
}
.leftslide-enter-active, .leftslide-leave-active {
  transition: transform .5s;
}
.leftslide-enter, .leftslide-leave-active {
  transform: translateX(-100%);
}
.scale-enter-active, .scale-leave-active {
  transition: transform .5s;
}
.scale-enter, .scale-leave-active {
  transform: scale(0.8);
}
@keyframes topslide {
from {
    transform: translateY(-100%);
}
to {
    transform: translateY(0);
}
}

@charset "UTF-8";
/*
	提取组件的公共图标样式放在这里,有些图标做的不够好欢迎提建议~
    颜色基本使用currentColor继承来自color设置的颜色
	by https://github.com/derickweng
*/
.icon-search {
  display: block;
  position: relative;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
}
.icon-search:before, .icon-search:after {
    content: '';
    display: block;
    position: absolute;
}
.icon-search:before {
    border-radius: 50%;
    border: 0.2em solid currentColor;
    width: 0.5em;
    height: 0.5em;
    top: 0.5em;
}
.icon-search:after {
    width: 0.5em;
    height: 0.2em;
    background-color: currentColor;
    top: 1.3em;
    left: 0.6em;
    transform: rotate(45deg);
}
.icon-list {
  position: relative;
  cursor: pointer;
}
.icon-list, .icon-list:before, .icon-list:after {
    display: block;
    width: 0.2em;
    height: 0.2em;
    border-width: 0 1em 0 0.2em;
    border-color: currentColor;
    border-style: solid;
}
.icon-list:before {
    top: -0.4em;
}
.icon-list:after {
    top: 0.4em;
}
.icon-list:before, .icon-list:after {
    content: '';
    position: absolute;
    left: -0.18em;
}
.audio-next {
  position: relative;
  width: 2em;
  height: 2em;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}
.audio-next .next-line:before, .audio-next .next-line:after {
    content: '';
    display: block;
    position: absolute;
    width: 1.1em;
}
.audio-next .next-line, .audio-next .next-line:before, .audio-next .next-line:after {
    height: 0.1em;
    background-color: currentColor;
}
.audio-next .next-line {
    width: 1em;
    transform: rotate(90deg);
}
.audio-next .next-line:before {
    transform: rotate(-63deg);
    left: -0.3em;
    top: -0.5em;
}
.audio-next .next-line:after {
    transform: rotate(63deg);
    left: 0.2em;
    top: -0.5em;
}
.audio-next .line-right {
    position: absolute;
    top: 0.5em;
    left: 1.5em;
    height: 1em;
    width: 0.1em;
    background-color: currentColor;
}
.icon-audio {
  border-radius: 50%;
  width: 2em;
  height: 2em;
  border: 0.1em solid currentColor;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  cursor: pointer;
}
.icon-audio .audio-pause {
    width: 0;
    height: 0;
    border-width: 0.4em 0 0.4em 0.6em;
    margin-left: 0.2em;
    border-style: solid;
    border-color: transparent transparent transparent currentColor;
}
.icon-audio .audio-playing {
    width: 0.2em;
    height: 1em;
    border-width: 0 0.2em 0 0.2em;
    border-style: solid;
    border-color: transparent currentColor transparent currentColor;
    margin: 0 auto;
}
.icon-back {
  font-size: 1rem;
  width: 2.2em;
  height: 0.2em;
  background-color: currentColor;
  display: inline-block;
  position: relative;
}
.icon-back:before, .icon-back:after {
    display: block;
    content: '';
    width: 1.6em;
    height: 0.2em;
    position: absolute;
    background-color: currentColor;
    left: -0.2em;
}
.icon-back:before {
    top: -0.5em;
    transform: rotate(-40deg);
}
.icon-back:after {
    top: 0.5em;
    transform: rotate(40deg);
}
.icon-next, .icon-pre {
  border: 0.1em solid currentColor;
  width: 1.5em;
  height: 1.5em;
  position: relative;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.icon-next:before, .icon-pre:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent currentColor;
    border-width: 0.3em 0 0.3em 0.5em;
}
.icon-next:after, .icon-pre:after {
    content: '';
    display: block;
    width: 0.7em;
    height: 0.1em;
    background-color: currentColor;
    position: absolute;
    top: 45%;
    left: 45%;
    transform: rotate(90deg) translateY(50%);
}
.icon-pre {
  transform: rotate(-180deg);
}
.icon-song {
  position: relative;
}
.icon-song, .icon-song:before, .icon-song:after {
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: currentColor;
}
.icon-song:before {
    top: 150%;
}
.icon-song:after {
    top: -150%;
}
.icon-song:before, .icon-song:after {
    content: '';
    display: block;
    position: absolute;
}

.topheader[data-v-29d64576] {
  width: 100%;
  height: 4.1rem;
  background-color: #c62f2f;
  position: fixed;
  top: 0;
  z-index: 99;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.3);
}
.topheader .search-ico-wrap[data-v-29d64576] {
    float: right;
    padding: 0.9rem;
    transform: scale(1.5);
}
.icon-search[data-v-29d64576] {
  color: white;
}
.toplist[data-v-29d64576] {
  background-color: #fdfdfd;
  padding-top: 4rem;
}
.list-type[data-v-29d64576] {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  background-color: white;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.list-wrap[data-v-29d64576] {
  position: relative;
}
.list-bar[data-v-29d64576] {
  position: absolute;
  height: 2px;
  left: 0;
  width: 6.5rem;
  transition: left .3s;
  background-color: #c62f2f;
}
.list-type-item[data-v-29d64576] {
  -ms-flex: 1;
      flex: 1;
  border-bottom: 2px solid transparent;
  text-align: center;
  line-height: 2rem;
  cursor: pointer;
  height: 2rem;
  font-size: 0.8rem;
}

.banner[data-v-dd5c128a] {
  position: relative;
}
.banner-page[data-v-dd5c128a] {
  position: absolute;
  bottom: 1rem;
  -ms-flex-pack: center;
      justify-content: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
}
.slider-btn[data-v-dd5c128a] {
  width: 0.8rem;
  height: 0.8rem;
  background-color: #aaa;
  border-radius: 50%;
  margin-right: 0.5rem;
}
.slider-btn.active[data-v-dd5c128a] {
  background: #c62f2f;
}
.slider-wrap[data-v-dd5c128a] {
  overflow: hidden;
}
.slider-items[data-v-dd5c128a] {
  font-size: 0;
  width: 500vw;
  overflow: hidden;
}
.slider-item[data-v-dd5c128a] {
  width: 100vw;
  float: left;
}
.slider-item > img[data-v-dd5c128a] {
  width: 100%;
}

.footer-warp[data-v-769ce2e8] {
  position: fixed;
  bottom: 0;
  z-index: 99;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}
.playfooter[data-v-769ce2e8] {
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
}
.playmsg[data-v-769ce2e8] {
  -ms-flex: 3;
      flex: 3;
  padding: .5rem 0 0 1rem;
}
.song-artist[data-v-769ce2e8] {
  color: #9c9c9c;
  font-size: .5rem;
  margin-top: .5rem;
}
.nav-button[data-v-769ce2e8] {
  -ms-flex: 2;
      flex: 2;
  display: -ms-flexbox;
  display: flex;
}
.nav-button .nav-btn-items[data-v-769ce2e8] {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.icon-audio[data-v-769ce2e8] {
  color: #c62f2f;
}
.icon-list[data-v-769ce2e8] {
  color: #c62f2f;
}
.audio-next[data-v-769ce2e8] {
  color: #c62f2f;
}
.playbar[data-v-769ce2e8] {
  background-color: #c62f2f;
  width: 10%;
  max-width: 100%;
  overflow: hidden;
  height: .2rem;
}

.mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.playlist {
  position: absolute;
  bottom: 0;
  width: calc(100% - 2rem);
  height: 50%;
  background-color: #fbfbfb;
  padding: 0.5rem 1rem;
}
.playlist-head {
  height: 2rem;
  line-height: 2rem;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.playlist-head .title {
    -ms-flex: 5;
        flex: 5;
    text-align: center;
    padding-left: 3rem;
    color: black;
}
.playlist-head .clearList {
    float: right;
    -ms-flex: 1;
        flex: 1;
    color: #bbb;
    text-align: center;
}
.playlist-art {
  height: 100%;
  overflow: auto;
}
.playlist-art .list-li {
    border-bottom: 1px solid #ccc;
    height: 3rem;
    line-height: 3rem;
}
.playlist-art .list-li .songname {
      color: #343434;
      max-width: 20rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      vertical-align: top;
}
.playlist-art .list-li .songart {
      font-size: 0.8rem;
      color: #868686;
      margin-left: 0.2rem;
      max-width: 6rem;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}
.playlist-art .list-li .del-list {
      float: right;
      cursor: pointer;
      color: #868686;
      display: inline-block;
      width: 3rem;
      text-align: center;
}
.playlist-art .list-li.active .songname {
    color: #c62f2f;
}
.playlist-art .list-li.active .songart {
    color: #c62f2f;
}

.search-head {
  position: fixed;
  top: 0;
  left: 5rem;
  height: 4rem;
  z-index: 101;
}
.search-head .search-inp-wrap {
    border-bottom: 1px solid white;
    display: inline-block;
    height: 59%;
    margin-top: 1rem;
}
.search-head .searchtext {
    width: 18rem;
    height: 100%;
    line-height: 100%;
    font-size: 1.2rem;
    outline: none;
    background: none;
    border: none;
    color: white;
    text-indent: 0.5em;
}
.search-items {
  border-bottom: 1px solid white;
  height: 3rem;
  line-height: 3rem;
  padding-left: 3rem;
}
.search-items .songname {
    display: inline-block;
    max-width: 21rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}
.search-items .hot-res {
    float: right;
    margin-right: 4rem;
    font-size: 0.8rem;
}
.search-list-warp {
  position: fixed;
  bottom: 0;
  z-index: 100;
  overflow: auto;
  height: calc(100% - 4rem);
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  color: white;
}

.billboard[data-v-3a85c0b4] {
  padding-bottom: 4rem;
}
.billboard-wrap[data-v-3a85c0b4] {
  padding-top: 1rem;
}
.billboard-item[data-v-3a85c0b4] {
  display: -ms-flexbox;
  display: flex;
  min-height: 4rem;
}
.ban-l[data-v-3a85c0b4] {
  -ms-flex: 1;
      flex: 1;
  padding: 1rem 0.5rem 0 1rem;
}
.ban-l img[data-v-3a85c0b4] {
    width: 100%;
}
.ban-r[data-v-3a85c0b4] {
  -ms-flex: 2;
      flex: 2;
  padding: 1rem 0.5rem;
}
.ban-r li[data-v-3a85c0b4] {
  color: #777;
}

.playbg[data-v-7e682f1e] {
  width: 100%;
  height: 100%;
  /*background: url('../../assets/img/1.jpg') no-repeat fixed 100%;*/
  /*filter:blur(5px);
     -webkit-filter:blur(5px);
     -ms-filter:blur(5px);
     -moz-filter:blur(5px);
     -o-filter:blur(5px);*/
  pointer-events: none;
  position: absolute;
  top: 0;
}
.playing[data-v-7e682f1e] {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  color: white;
}
.playing a[data-v-7e682f1e] {
    color: white;
}
.playing .icon-back[data-v-7e682f1e] {
    text-align: center;
}
.playing .back-btn[data-v-7e682f1e] {
    -ms-flex: 1;
        flex: 1;
    text-align: center;
    line-height: 3rem;
}
.playing .playing-title[data-v-7e682f1e] {
    -ms-flex: 4;
        flex: 4;
    height: 100%;
}
.playing .playing-title .song-name[data-v-7e682f1e] {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 1rem;
}
.playing .playing-title .song-art[data-v-7e682f1e] {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin-top: 0.4rem;
      text-indent: 0.2rem;
      color: #d0d0d0;
}
.playing .play-warp[data-v-7e682f1e] {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
}
.playing .play-warp .playing-art[data-v-7e682f1e] {
      -ms-flex: 10;
          flex: 10;
      text-align: center;
      overflow: auto;
}
.playing .play-warp .playing-art .lysrc-items[data-v-7e682f1e] {
        margin: 4rem 0;
}
.playing .play-warp .playing-head[data-v-7e682f1e] {
      width: 100%;
      height: 4rem;
      display: -ms-flexbox;
      display: flex;
      -ms-flex: 2;
          flex: 2;
}
.playing .playing-footer[data-v-7e682f1e] {
    -ms-flex: 3;
        flex: 3;
}
.playing .playing-footer .progess[data-v-7e682f1e] {
      width: 90%;
      margin: 0 auto;
      height: 0.5rem;
      border-radius: 5px;
      background: #c62f2f;
}
.playing .playing-footer .foot-btn[data-v-7e682f1e] {
      display: -ms-flexbox;
      display: flex;
      padding-left: 6rem;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      height: 100%;
      font-size: 2rem;
}
.playing .playing-footer .foot-btn li[data-v-7e682f1e] {
        -ms-flex: 2;
            flex: 2;
        cursor: pointer;
}
.playing .playing-footer .foot-btn li .icon[data-v-7e682f1e] {
          color: white;
          margin: 0 auto;
}
.playing .playing-footer .icon-list-btn[data-v-7e682f1e] {
      height: 4rem;
      padding-top: 4rem;
}
.playing .icon-back[data-v-7e682f1e] {
    top: 0.9em;
}

.calcH {
  height: calc(100vh - 4rem);
}
.maxH {
  height: 100vh;
}
.listdetail {
  overflow: auto;
}
.listdetail .icon-back {
    margin: 2rem 1rem;
}
.listdetail .list-head {
    height: 4rem;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 99;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
}
.listdetail .list-img {
    height: 22rem;
    width: 100%;
}
.listdetail .list-img img {
      width: 100%;
      height: 100%;
}
.listdetail .list-item {
    height: 4rem;
    display: -ms-flexbox;
    display: flex;
}
.listdetail .list-num {
    -ms-flex: 1;
        flex: 1;
    text-align: center;
    line-height: 4rem;
}
.listdetail .icon-song-wrap {
    -ms-flex: 1;
        flex: 1;
    color: #d4d4d4;
    font-size: 1rem;
    text-align: center;
    line-height: 4rem;
    border-bottom: 1px solid #f9f5f5;
}
.listdetail .icon-song-wrap .icon-song {
      display: inline-block;
}
.listdetail .song {
    -ms-flex: 5;
        flex: 5;
    border-bottom: 1px solid #f9f5f5;
    cursor: pointer;
}
.listdetail .song .song-name, .listdetail .song .song-art {
      display: block;
      height: 2rem;
}
.listdetail .song .song-name {
      line-height: 2.5rem;
}
.listdetail .song .song-art {
      font-size: 0.8rem;
      color: #aaa;
      line-height: 2rem;
}

.song-add[data-v-38aa9ce6] {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
.song-add .song-head[data-v-38aa9ce6] {
    height: 2rem;
    color: #aaa;
    line-height: 2rem;
    padding-left: 1rem;
}
.song-add .song-set[data-v-38aa9ce6] {
    width: 100%;
    background-color: #fbfbfb;
    position: absolute;
    bottom: 0;
}
.song-add .set-items[data-v-38aa9ce6] {
    text-align: center;
}
.song-add .set-item[data-v-38aa9ce6] {
    height: 3rem;
    line-height: 3rem;
}
.song-add .set-item[data-v-38aa9ce6]:hover {
      background-color: #ccc;
      color: #c62f2f;
}

/*# sourceMappingURL=app.d15c3029d90cfa5031b677e0a24fb37c.css.map*/